:root {
  /* FONTS */
  --ff-normal: 'Roboto', sans-serif;

  /* COLORS */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
}

/************************/
/* GLOBAL RESET */
/************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  color: var(--color-gray-800);
  font-family: var(--ff-normal);
}

/************************/
/* PAGE LAYOUT */
/************************/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/************************/
/* HEADER */
/************************/

.header {
  background-color: var(--color-gray-200);
  padding: 1rem 0
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem */
}

.profile-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.profile-img:hover {
  background-color: var(--color-gray-600);
}

.social-profiles {
  display: flex;
  gap: 0.5rem;
}

.social-icon {
  width: 24px;
  height: 24px;
  color: var(--color-gray-600);
  border-radius: 50%;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  background-color: var(--color-gray-600);
  color: var(--color-gray-100);
}

/************************/
/* HERO SECTION */
/************************/

.section-hero {
  background-color: var(--color-gray-100);
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  align-items: center;
}

.hero-name {
  font-size: 7rem;
  display: block;
}

@media (max-width: 768px) {
  .hero-name {
    font-size: 4.5rem;
  }
}

/************************/
/* PROJECTS SECTION */
/************************/

.section-projects {
  background-color: var(--color-gray-50);
  padding: 3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  padding: 2rem;
  list-style: none;
}

.section {
  padding: 2rem 0;
}

.primary-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-gray-600);
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
}

.btn.btn-primary {
  background-color: var(--color-gray-500);
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
  background-color: var(--color-gray-400);
  color: white;
}

.btn.btn-secondary {
  background-color: var(--color-gray-200);
  color: var(--color-gray-700);
  transition: all 0.3s ease-in-out;
}

.btn.btn-secondary:hover {
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-50);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-img img {
  object-fit: cover;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.card:hover .card-img img {
  opacity: 1;
  transform: scale(1.03);
}

.card-content {
  display: flex;
  height: 200px;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 1rem;
}

.card-title {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-800);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card-description {
  color: var(--color-gray-600);
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.tag {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  font-size: 0.75rem;
  font-weight: 600;
}

.footer {
  background-color: var(--color-gray-200);
}